* {
margin: 0;
padding: 0;
}
body {
font: 71%/1.5 Verdana, Sans-Serif;
background: #1c1c1c;
}
#container {
margin: 100px auto;
width: 688px;
}
#write {
color: white;
margin: 0 0 5px;
padding: 5px;
width: 680px;
height: 200px;
font: 1em/1.5 Verdana, Sans-Serif;
background: #262626;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#keyboard {
margin: 0;
padding: 0;
list-style: none;
}
	#keyboard li {
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
	color: white;
	font-size: 14px;
	font-weight: 800;
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #565656;
	border: 1px solid #565656;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
		.capslock, .tab, .left-shift {
		clear: left;
		}
			#keyboard .delete {
			width: 66px;
			}
			#keyboard .language {
			width: 66px;
			}
			#keyboard .left-enter, #keyboard .enter {
			border-color: #ed0044;
			background-color: #ed0044;
			width: 77px;
			}
			#keyboard .left-shift {
			margin-left: 32px;
			width: 66px;
			}
			#keyboard .accept {
			border-color: #ed0044;
			background-color: #ed0044;
			margin-left: 89px;
			width: 66px;
			}
			#keyboard .cancel {
			border-color: #ed0044;
			background-color: #ed0044;
			width: 66px;
			}
			#keyboard .right-shift {
			width: 66px;
			}
		.lastitem {
		margin-right: 0;
		}
		.uppercase {
		text-transform: uppercase;
		}
		#keyboard .space {
		width: 350px;
		}
		.on {
		display: none;
		}
		#keyboard li:hover {
		position: relative;
		top: 1px;
		left: 1px;
		border-color: #e5e5e5;
		cursor: pointer;
		}